.footer {
  min-height: 560px;
  background-color: #f8f8f8;
}
.footer-main {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap-reverse;
}
.footer-info {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  max-width: 530px;
  width: 100%;
}
.footer-text {
  max-width: 340px;
}
.footer-links {
  min-width: 430px;
  display: flex;
  justify-content: space-between;
  flex: 1 1;
  flex-wrap: wrap;
}
.footer-links a {
  text-decoration: none;
}
.footer-links a:visited {
  color: #4f5665;
}

.footer-links h1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #0b132a;
}
.footer-links ul li {
  list-style: none;
  font-size: 16px;
  color: #4f5665;
  line-height: 30px;
  margin-top: 10px;
}
.footer-logo {
  /* margin-left: 30px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer-logo span {
  margin-left: 10px;
  color: #0b132a;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.footer-text {
  margin-top: 20px;
  line-height: 30px;
  color: #4f5665;
}
.footer-social-links {
  /* margin-top: 30px; */
}
.social-link__item {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

.social-link__item a::before {
  content: "";
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  top: 30px;
  left: 5px;
  background-color: #f53838;
  border-radius: 50%;
  z-index: 0;
}
.social-link__item img {
  position: relative;
  z-index: 1;
}

.footer-copyright {
  color: #afb5c0;
  margin-top: 30px;
}

@media screen and (max-width: 1150px) {
  .footer-main {
    padding: 20px;
  }
  .footer-info {
    max-width: 450px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 920px) {
  .footer-links {
    justify-content: space-around;
    min-width: 370px;
  }
}
@media screen and (max-width: 550px) {
  .footer-info {
    padding-top: 40px;
  }
}
@media screen and (max-width: 3890px) {
  .footer-main {
    padding: 5px;
  }
}
